
        <h4>Hello {{nom | capitalize}} {{prenom | capitalize}}</h4>
        {# <h2>Nous sommes le {{ "now" | date("m/d/Y")}}</h2>
        <img src=" {{ asset('assets/images/') ~ path | defaultImage}} " alt=""> #}
   